[submodule "IFB-CN"]
	path = IFB-CN
	url = git@github.com:Ellian-aragao/IFB-CN.git
[submodule "IFB-PC1"]
	path = IFB-PC1
	url = git@github.com:Ellian-aragao/IFB-PC1.git
[submodule "IFB-APC"]
	path = IFB-APC
	url = git@github.com:Ellian-aragao/IFB-APC.git
[submodule "IFB-BD1"]
	path = IFB-BD1
	url = git@github.com:Ellian-aragao/IFB-BD1.git
